* {
    margin: 0px;
    padding: 0px;
}
html {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
body {
    font-family: Verdana, Arial, "Sans-Serif";
    font-size: 0.413cm;
    margin-top: 10px;
    background: #ffffff;
}
div {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 2px 2px rgba(0,0,0,0.3),0 0 4px 1px rgba(0,0,0,0.2),inset 0 3px 2px rgba(255,255,255,.22),inset 0 -3px 2px rgba(0,0,0,.15),inset 0 20px 10px rgba(255,255,255,.12),0 0 4px 1px rgba(0,0,0,.1),0 3px 2px rgba(0,0,0,.2);
}
#sevenElement {
    text-decoration: none;
    width:200px;
    height:20px;
}
.coolbutton {
    display: inline-block;
    padding: 8px;
    border: 3px solid #FCB326;
    border-radius: 6px;
    box-shadow:0 2px 1px rgba(0, 0, 0, 0.2),inset 0 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-style: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #222;
}
#div0, #div3, #arrayChoice {
    width: 500px;
    font-size: 0.413cm;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    border: 1px solid #CCCCCC;
    padding: 5px 0px;
    color: #000000;
    background: #ffffff;
}
#div1 {
    width: 500px;
    margin-top:50px;
    background: #bbbbbb;
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
    height: 200px;
    left: 50%;
    margin-left: -200px;
    overflow: hidden;
}
.circleDiv {
    display: inline-block;
    padding: 8px;
    border: 3px solid #FCB326;
    border-radius: 6px;
    box-shadow:0 2px 1px rgba(0, 0, 0, 0.2),inset 0 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #222;
    width:300px;
}
.circleDiv:hover, .coolbutton:hover {
    border-color: #FDD68B;
}
.headerDiv {
    width:100%;
    color:#000000;
    height:63px;
    font-size:38px;
    font-family: Arial;
    text-align:center;
    text-transform: uppercase;
    padding: 20px;
}
i {
    color:#ffffff;
}
.data-form {
    padding:30px;
    color:#3e3e3e;
    width:500px;
}
.add-table {
    padding:30px;
    color:#3e3e3e;
    width:500px;
}
md-dialog {
    min-width:350px;
}