.footer(layout="row")
  section
    p
    | Tel: +254 727 311845
    p
    | Email: godmetweenciati@gmail.com
  section
    a(href="https://twitter.com/NateMMartin")
      i.mdi.mdi-twitter
    a(href="https://www.facebook.com/nate.martin.73157")
      i.mdi.mdi-facebook
    a(href="https://www.github.com/andela-nmartin")
      i.mdi.mdi-github-circle
  section
    a(href="" style="color:#ffffff") Back to Top