base(href="/")
title Data Analysis Dashboard
//- styles
link(rel="stylesheet" href="lib/angular-material/angular-material.min.css")
link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet" href="lib/material-design-icons/iconfont/material-icons.css")
link(rel="stylesheet" href="css/styles.css")

//- scripts 
script(src="lib/angular/angular.min.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="lib/angular-aria/angular-aria.min.js")
script(src="lib/angular-animate/angular-animate.min.js")
script(src="lib/angular-material/angular-material.min.js")
script(src="lib/angular-resource/angular-resource.min.js")
script(src="lib/chartinjs/index.js")
script(src="js/index.js")