.header(ng-controller="toolBarCtrl" flex layout="column" layout-fill ng-cloak)
  md-toolbar.md-hue-2(md-scroll-shrink)
    .md-toolbar-tools
      md-button.md-icon-button(aria-label='Settings', ng-disabled='false')
        i.large.material-icons reorder
      span(style="position:relative;") visualize data
      span(flex='')
      md-button.md-icon-button(aria-label='More')
        i.large.material-icons donut_large
