.row
  #arrayChoice
    h3 Instructions
    p Please input numbers separated by spaces
    input#sevenElement(type='text')
    br
    input.coolbutton(type='button', value='PUSH' onclick='')
  #div0
    strong See Charts
    br
    .circleDiv(id='pie_chart') Pie Chart
    .circleDiv(id='bar_chart') Bar Chart
    .circleDiv(id='histogram') Histogram
    .circleDiv(id='line_chart') Line Chart
  #div1(style='width:400px;height:300px;border-left:1px solid;border-bottom:1px solid; ')
  #div3