.dashdisplay(layout="row")
  md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')", md-disable-backdrop='', md-whiteframe='4')
    md-content(layout-padding='')
      md-button.md-primary(ng-click='close()', hide-gt-md='')
        | Close Menu
      p(hide-md='', show-gt-md='')
        i.large.material-icons(ng-click='showPrompt($event)' style="color:#e50000") add_circle
          md-tooltip(md-direction="bottom") Add a table
      p(hide-md='', show-gt-md='')
        i.large.material-icons(ng-click='' style="color:#e50000") pie_chart
          md-tooltip(md-direction="bottom") See Pie Chart
      p(hide-md='', show-gt-md='')
        i.large.material-icons(ng-click='' style="color:#e50000") multiline_chart
          md-tooltip(md-direction="bottom") See Line chart
      p(hide-md='', show-gt-md='')
        i.large.material-icons(ng-click='' style="color:#e50000") timeline
          md-tooltip(md-direction="bottom") See Histogram
      p(hide-md='', show-gt-md='')
        i.large.material-icons(ng-click='' style="color:#e50000") view_quilt
          md-tooltip(md-direction="bottom") See Bar Chart
  .data-table
    h3 {{ yUnits }} {{ sample}}:
    form(name='tableForm')
      md-input-container(ng-repeat="i in sample")
        {{ xUnits }} input(type="text") {{ yUnits }} input(type="text")
      md-input-container.md-block
        md-button.md-raised.md-primary Save Data
