.dashdisplay(layout="row")
  md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open="$mdMedia('gt-md')", md-disable-backdrop='', md-whiteframe='4')
    md-content(layout-padding='')
      md-button.md-primary(ng-click='close()', hide-gt-md='')
        | Close Menu
      .menu-item(hide-md='', show-gt-md='')
        i.large.material-icons(ng-click='showPrompt($event)' style="color:#e50000") add_circle
          md-tooltip(md-direction="bottom") Add a table
      .menu-item(hide-md='', show-gt-md='')
        a(ng-href='/pie')
          i.large.material-icons(style="color:#e50000") pie_chart
            md-tooltip(md-direction="bottom") See Pie Chart
      .menu-item(hide-md='', show-gt-md='')
        a(ng-href='/line')
          i.large.material-icons(ng-click='' style="color:#e50000") multiline_chart
            md-tooltip(md-direction="bottom") See Line chart
      .menu-item(hide-md='', show-gt-md='')
        a(ng-href='/histogram')
          i.large.material-icons(ng-click='' style="color:#e50000") timeline
            md-tooltip(md-direction="bottom") See Histogram
      .menu-item(hide-md='', show-gt-md='')
        a(ng-href='/bar')
          i.large.material-icons(ng-click='' style="color:#e50000") view_quilt
            md-tooltip(md-direction="bottom") See Bar Chart
  .guide(ng-hide="savedDimensions")
    md-card
      md-card-title
        h3 Let's get started
      md-card-content
        p 
        | Input your own set of data in the 
        i.small.material-icons(style="color:#e50000") add_circle
        | button. Click it and fill out the prompt to define the dimension units for your data.
        p
        | As soon as you save the dimensions in the prompt, an empty data table is generated for you to fill. Once filled, save the data.
  .data-table(ng-show="savedDimensions")
    md-card
      md-card-title
        h3 {{ savedDimensions.yUnits }} table
      md-card-content
        .data-row
          div(layout="row" ng-repeat="entry in savedDimensions.dataArray")
            md-input-container
              label x
              input(type=text)
            md-input-container
              label y
              input(type=text)
    md-input-container.md-block
      md-button.md-raised.md-primary Save Data
