.dashdisplay(layout="row")
  .guide(ng-hide="savedDimensions")
    md-card
      md-card-title
        h3 Let's get started
      md-card-content
        p 
        | Input your own set of data in the 
        i.small.material-icons(style="color:#e50000") add_circle
        | button. Click it and fill out the prompt to define the dimension units for your data.
        p
        | As soon as you save the dimensions in the prompt, an empty data table is generated for you to fill. Once filled, save the data.
  .data-table(ng-show="savedDimensions")
    md-card
      md-card-title
        h3 {{ savedDimensions.yUnits }} table
      md-card-content
        .data-row
          div(layout="row" ng-repeat="entry in savedDimensions.dataArray")
            md-input-container
              label x
              input(type=text)
            md-input-container
              label y
              input(type=text)
    md-input-container.md-block
      md-button.md-raised.md-primary(ng-click="saveData(savedDimensions.sample, savedDimensions.dataArray)") Save Data
    p Data Array: {{ savedDimensions.dataArray }}
